* {
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

::selection {
	background: #0082b740;
}

::-moz-selection {
	background: #0082b740;
}

::-webkit-scrollbar {
	width: 15px;
	border-radius: 20px;
}

::-webkit-scrollbar-track {
	background: #dddddd;
}

::-webkit-scrollbar-thumb {
	background: #555555;
	border: 3px solid #dddddd;
	border-radius: 10px;
}

html, body {
	font-family: "Lato", sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	margin: 0;
	padding: 0;
}

hr {
	border: 0;
	height: 0;
	margin: 10px 0;
	border-top: 2px solid #dddddd;
}

h1, h2, h3, h4 {
	line-height: 1.2;
}

p {
	line-height: 1.6;
}

ul {
	list-style-type: none;
	padding: 0;
	margin: 0;
}

/* UI elements */
input, textarea, button, .ui-selectmenu-button, [contenteditable] {
	font-size: 14px;
	border-radius: 4px;
	background: #ffffff;
	border: 2px solid #dddddd80;
	padding: 5px;
	margin: 5px;
	outline: none;
	caret-color: #0082b7;
	appearance: none;
}

input, textarea {}

input:not([type=range]), textarea, [contenteditable] {
	cursor: url(../res/cursors/text.png), text;
}

input:focus, textarea:focus {
	border-color: #0082b7;
	box-shadow: 0 0 5px #0082b7;
}

button {
	padding: 5px 15px;
	color: #555555;
	font-weight: 600;
}

button:hover, .anchor-button:hover {
	background: #f7f7f7;
}

button:focus, .anchor-button:focus {
	background: #eeeeee;
	border-color: #cccccc;
}

button.primary .icon {
	filter: invert();
}

button.primary {
	background: #0082b7;
	color: #ffffff;
	font-weight: bold;
	border-color: #0082b7;
}

button.icon-only {
	margin: 0;
}

button.icon-only .icon {
	width: 13px;
	height: 13px;
	margin-bottom: -1px;
	margin-top: 1px;
}

.anchor-button {
	font-size: 14px;
	border-radius: 4px;
	background: #ffffff;
	color: #555555;
	font-weight: 600;
	display: inline-block;
	text-decoration: none;
	border: 2px solid #dddddd80;
	padding: 5px 20px;
	margin: 5px;
	outline: none;
	appearance: none;
}

/* Edges */
.edge {
	padding: 20px;
	position: absolute;
}

.edge.top, .edge.bottom {
	left: 0;
	right: 0;
}

.edge.left, .edge.right {
	top: 0;
	bottom: 0;
}

.edge.top {
	top: 0;
}

.edge.bottom {
	bottom: 0;
}

.edge.left {
	left: 0;
}

.edge.right {
	right: 0;
}

/* Progress Bar */
.progress-bar {
	display: inline-block;
	height: 10px;
	border-radius: 4px;
	overflow: hidden;
	background: #f5f5f5;
	min-width: 200px;
}

.progress-fill {
	background-color: #0082b7;
	height: 10px;
	width: 0%;
}

/* Context menu */
.contextmenu {
	background: #f5f5f5;
	color: #555555;
	box-shadow: 0 2px 10px rgba(0, 0, 0, .3);
	border-radius: 4px;
	position: absolute;
	z-index: 5;
	padding: 5px;
	font-size: 14px;
	min-width: 150px;
	display: none;
	overflow-y: auto;
	overflow-x: hidden;
}

.contextmenu li {
	padding: 8px;
	border-radius: 4px;
	user-select: none;
}

.contextmenu li:not(.divider):hover {
	background: #0082b7;
	color: #ffffff;
}

.contextmenu li.divider {
	border-bottom: 2px solid #dddddd80;
	margin: 8px;
	margin-bottom: 6px;
	padding: 0;
}

.contextmenu li.caution {
	color: #c61515;
}

.contextmenu-header {
	padding: 5px;
	font-size: 13px;
	font-weight: 600;
	user-select: none;
	color: #ababab;
}

/* Select */
.ui-selectmenu-button {
	font-weight: 600;
	padding: 5px 15px;
	color: #333333;
	padding-right: 35px !important;
	background: #ffffff url(../res/icons/arrow.svg) center right 10px / 12px no-repeat;
}

.ui-menu {
	list-style: none;
	padding: 0;
	margin: 0;
	display: block;
	outline: 0;
}

.ui-menu .ui-menu {
	position: absolute;
}

.ui-menu .ui-menu-item {
	margin: 5px;
	border-radius: 4px;
	cursor: pointer;
	/* support: IE10, see #8844 */
	list-style-image: url("data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7");
}

.ui-menu .ui-menu-item-wrapper {
	position: relative;
	padding: 8px;
	font-size: 14px;
	border-radius: 4px;
}

.ui-menu .ui-menu-divider {
	margin: 5px 0;
	height: 0;
	font-size: 0;
	line-height: 0;
	border-width: 1px 0 0 0;
}

.ui-widget-content {
	background: #f5f5f5;
	color: #555555;
	box-shadow: 0 2px 10px rgba(0, 0, 0, .3);
	border-radius: 4px;
	margin: 5px 0;
}

.ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active, a.ui-button:active, .ui-button:active, .ui-button.ui-state-active:hover {
	background: #0082b7;
	color: #ffffff;
}

.ui-selectmenu-menu {
	padding: 0;
	margin: 0;
	position: absolute;
	top: 0;
	left: 0;
	display: none;
}

.ui-selectmenu-menu .ui-menu {
	overflow: auto;
	overflow-x: hidden;
	padding-bottom: 1px;
}

.ui-selectmenu-menu .ui-menu .ui-selectmenu-optgroup {
	font-size: 1em;
	font-weight: bold;
	line-height: 1.5;
	padding: 2px 0.4em;
	margin: 0.5em 0 0 0;
	height: auto;
	border: 0;
}

.ui-selectmenu-open {
	display: block;
}

.ui-selectmenu-text {
	display: block;
	margin-right: 20px;
	overflow: hidden;
	text-overflow: ellipsis;
	user-select: none;
}

.ui-selectmenu-button.ui-button {
	text-align: left;
	white-space: nowrap;
}

.ui-selectmenu-icon.ui-icon {
	float: right;
	margin-top: 0;
}

/* jQuery UI Slider */
.ui-slider {
	position: relative;
	text-align: left;
}

.ui-slider .ui-slider-handle {
	position: absolute;
	z-index: 2;
	width: 1.2em;
	height: 1.2em;
	cursor: default;
	-ms-touch-action: none;
	touch-action: none;
}

.ui-slider .ui-slider-range {
	position: absolute;
	z-index: 1;
	font-size: .7em;
	display: block;
	border: 0;
	background-position: 0 0;
}

/* Icons */
.icon {
	background: center / contain no-repeat;
	width: 25px;
	height: 25px;
	display: inline-block;
}

.icon.button-icon {
	height: 20px;
	width: 20px;
}

.icon.small-icon {
	width: 16px;
	height: 16px;
}

.icon.medium-icon {
	height: 50px;
	width: 50px;
}

.icon.large-icon {
	width: 100px;
	height: 100px;
}

.stretch-width {
	width: 100%;
	width: -webkit-fill-available;
	width: fill-available;
}

.textCursor {
	width: 3px !important;
	border-radius: 4px;
	border: none;
}

.desktop {
	background: black center / cover no-repeat;
	width: 100vw;
	height: 100vh;
}

.start {
	background: #232323 url(../res/images/T.svg) center / 25px no-repeat;
	position: fixed;
	padding-top: 200px;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 1000;
	color: white;
	text-align: center;
	user-select: none;
	display: flex;
	justify-content: center;
	align-items: center;
}

.applications {
	width: 100vw;
	top: 0;
	left: 0;
	right: 0;
	bottom: 80px;
	position: fixed;
	z-index: 1;
}

/* Toolbar */
.toolbar {
	position: fixed;
	bottom: 15px;
	left: 15px;
	right: 15px;
	border-radius: 10px;
	background: #cccccc80;
	height: 60px;
	padding: 0 15px;
	display: none;
	align-items: center;
	justify-content: center;
	z-index: 3;
	backdrop-filter: blur(50px);
	box-shadow: 0 0 10px rgba(0, 0, 0, .3);
}

.toolbar-inner {
	display: grid;
	grid-template-columns: 0fr 1fr 0.3fr;
	width: -webkit-fill-available;
	align-items: center;
}

.toolbar-inner > div:first-child {
	margin-right: 10px;
	border-right: 2px solid #90909080;
}

.dock {
	overflow: hidden;
	white-space: nowrap;
	width: 100%;
	height: 60px;
	padding-top: 15px;
}

.toolbar .app-item {
	margin-right: 10px;
}

.tray {
	text-align: right;
	height: 40px;
	display: flex;
	align-items: center;
	justify-content: flex-end;
}

.tray > div {
	font-size: 14px;
	font-weight: 500;
	color: #fafafa;
	height: 40px;
	padding: 0 10px;
	display: flex;
	align-items: center;
	justify-content: flex-end;
	mix-blend-mode: screen;
	text-shadow: 0 0 15px black;
}

.app-item {
	width: 42px;
	height: 42px;
	background: url(../res/icons/default.svg) center / contain no-repeat;
	cursor: pointer;
	display: inline-block;
}

.app-item.uniform {
	border-radius: 8px;
	box-shadow: 0 0 10px rgba(0, 0, 0, .3);
}

.app-item.is-open {
	/* box-shadow: 0 0 15px rgba(0,0,0,.5); */
}

.app-item.is-min {
	opacity: .7;
	filter: grayscale(50%);
	/* box-shadow: 0 0 15px rgba(0,0,0,.3); */
}

.app-item.is-open:after {
	content: "";
	padding: 2px;
	position: absolute;
	border-radius: 50%;
	background: #33333380;
	margin-top: 45px;
	margin-left: 19px;
}

.app-label {
	font-size: 13px;
	margin-top: 5px;
}

.system-menu {
	background-image: url(../applications/apps/icon.png);
}

.all-apps {
	background-image: url(../applications/apps/icon.png);
}

/* Windows */
.window {
	height: 300px;
	width: 500px;
	overflow: hidden;
	border-radius: 10px;
	box-shadow: 5px 5px 15px rgba(0, 0, 0, .5);
	position: fixed;
	border: 1px solid #dddddd;
	filter: none;
	z-index: 1;
	transition: transform 0.3s, opacity 0.3s;
}

.window.minimized {
	transform: scale(0);
	opacity: 0;
	pointer-events: none;
	user-select: none;
	transition: transform 0.3s, top 0.3s, opacity 0.3s;
	bottom: 0;
	top: 85% !important;
}

.window.zoomed {
	top: 0 !important;
	left: 0 !important;
	bottom: 0;
	right: 0;
	position: absolute;
	width: auto !important;
	height: auto !important;
}

.window:not(.ui-selected) {
	filter: brightness(90%);
	box-shadow: 0 0 5px rgba(0, 0, 0, .3);
	color: #888888;
	z-index: 0;
}

.window-title-bar {
	/* background: linear-gradient(0, #dcdcdc, #f5f5f5); */
	background: rgba(255, 255, 255, .8);
	-webkit-backdrop-filter: blur(50px);
	backdrop-filter: blur(50px);
	padding: 8px;
	border-bottom: 2px solid #dddddd;
	display: grid;
	color: black;
	grid-template-columns: 0fr 1fr 0fr;
}

.window:not(.ui-selected) .window-title-bar {
	background: #f5f5f5;
	color: #888888;
}

.window-title .window-icon {
	height: 18px;
	width: 18px;
	margin-bottom: -4px;
	border-radius: 5px;
	border: 1px solid #dddddd;
	background: #f5f5f5 center / contain no-repeat;
	margin-right: 3px;
	display: inline-block
}

.window-title {
	font-size: 14px;
	line-height: 20px;
	text-align: center;
	user-select: none;
	pointer-events: none;
	font-weight: 600;
}

.window-actions {
	display: flex;
	align-items: center;
}

.window-action {
	display: inline-block;
	margin-right: 5px;
	padding: 8px;
	border-radius: 5px;
	border: 1px solid #dddddd;
	cursor: pointer;
	user-select: none;
	background: #eeeeee center / 10px no-repeat;
}

.window:not(.ui-selected) .window-action {
	background: #dddddd;
	border-color: #cccccc;
	color: #888888;
}

.window-action.window-action-close {
	background-color: #c61515;
	border-color: #ab1010;
	background-image: url(../res/icons/close.svg);
}

.window-action.window-action-min {
	background-color: #f09c67;
	border-color: #d08352;
	background-image: url(../res/icons/min.svg);
	background-size: 16px;
}

.window-action.window-action-refresh {
	background-color: #20b788;
	border-color: #1d9670;
	background-image: url(../res/icons/refresh.svg);
}

.window-action.window-action-zoom {
	background-color: #308de2;
	border-color: #2978bf;
	background-image: url(../res/icons/zoom.svg);
	background-size: 16px;
}

.window-content {
	width: -webkit-fill-available;
	position: absolute;
	top: 39px;
	left: 0;
	right: 0;
	bottom: 0;
}

.window-content.pad-content {
	padding: 10px;
}

.window-content iframe {
	width: 100%;
	height: 100%;
}

.window-back, .navigation {
	background: #eeeeee;
	padding: 5px;
	border-bottom: 2px solid #dddddd;
}

.navigation {
	grid-area: header;
}

.sidebar {
	grid-area: menu;
}

.content {
	grid-area: main;
}

.container {
	display: grid;
	grid-template-areas:
    "header header header header"
    "menu main main main";
}

.sidebar {
	background: #fafafa;
	border-right: 2px solid #dddddd;
	height: 86vh;
	overflow: auto;
}

.sidebar ul {
	margin: 15px 0;
}

.sidebar ul li {
	padding: 10px;
	font-size: 15px;
	color: #555555;
	user-select: none;
}

.sidebar ul li:hover {
	background: #f5f5f5;
	color: #000000;
}

.sidebar ul li.active-item {
	background: #0082b7;
	color: #ffffff;
}

.content {
	padding: 20px;
}

/* Resize */
.ui-resizable-nw {
	left: 1px;
	top: 1px;
	cursor: nw-resize;
}

.ui-resizable-ne {
	right: 1px;
	top: 1px;
	cursor: ne-resize;
}

.ui-resizable-sw {
	left: 1px;
	bottom: 1px;
	cursor: sw-resize;
}

.ui-resizable-se {
	right: 1px;
	bottom: 1px;
	cursor: se-resize;
}

.ui-resizable-sw {
	left: 1px;
	bottom: 1px;
	cursor: sw-resize;
}

.ui-resizable-se {
	right: 1px;
	bottom: 1px;
	cursor: se-resize;
}

.ui-resizable-n {
	left: 15px;
	right: 15px;
	top: 0;
	margin: 0 auto;
	cursor: n-resize;
}

.ui-resizable-s {
	left: 15px;
	right: 15px;
	bottom: 1px;
	margin: 0 auto;
	cursor: s-resize;
}

.ui-resizable-e {
	right: 1px;
	top: 15px;
	cursor: e-resize;
}

.ui-resizable-w {
	left: 1px;
	top: 15px;
	cursor: w-resize;
}

.ui-resizable-w, .ui-resizable-e {
	bottom: 15px;
}

.ui-resizable-handle {
	padding: 3px;
	position: absolute;
	display: inline-block;
}

.ui-draggable-dragging iframe, .ui-resizable-resizing iframe + .window iframe {
	pointer-events: none;
	user-select: none;
	opacity: .5;
}

/* Tooltips */
.tooltip {
	position: absolute;
	z-index: 60000;
	display: block;
	font-size: 13px;
	font-weight: 600;
	line-height: 1.42857143;
	text-align: left;
	text-align: start;
	text-decoration: none;
	text-shadow: none;
	text-transform: none;
	letter-spacing: normal;
	word-break: normal;
	word-spacing: normal;
	word-wrap: normal;
	white-space: normal;
	filter: alpha(opacity=0);
	opacity: 0;
	transform: scale(.9);
	line-break: auto;
	transition: opacity, transform 0.1s cubic-bezier(.25, .8, .25, 1);
}

.tooltip.in {
	filter: alpha(opacity=100);
	opacity: 1;
	transform: scale(1);
}

.tooltip.top {
	padding: 5px 0;
	margin-top: -3px;
}

.tooltip.right {
	padding: 0 5px;
	margin-left: 3px;
}

.tooltip.bottom {
	padding: 5px 0;
	margin-top: 3px;
}

.tooltip.left {
	padding: 0 5px;
	margin-left: -3px;
}

.tooltip-inner {
	max-width: 200px;
	padding: 5px 10px;
	color: #333333;
	border-radius: 4px;
	text-align: center;
	background-color: #f5f5f5bf;
	backdrop-filter: blur(10px);
	box-shadow: 0 0 5px rgba(0, 0, 0, .3);
}

.tooltip-arrow {
	position: absolute;
	width: 0;
	height: 0;
	border-color: transparent;
	border-style: solid;
}

.tooltip.top .tooltip-arrow {
	bottom: 0;
	left: 50%;
	margin-left: -5px;
	border-width: 7px 7px 0;
	border-top-color: #f5f5f5bf;
}

.tooltip.top-left .tooltip-arrow {
	right: 5px;
	bottom: 0;
	margin-bottom: -5px;
	border-width: 7px 7px 0;
	border-top-color: #f5f5f5bf;
}

.tooltip.top-right .tooltip-arrow {
	bottom: 0;
	left: 5px;
	margin-bottom: -5px;
	border-width: 7px 7px 0;
	border-top-color: #f5f5f5bf;
}

.tooltip.right .tooltip-arrow {
	top: 50%;
	left: 0;
	margin-top: -5px;
	border-width: 7px 7px 7px 0;
	border-right-color: #f5f5f5bf;
}

.tooltip.left .tooltip-arrow {
	top: 50%;
	right: 0;
	margin-top: -5px;
	border-width: 7px 0 7px 7px;
	border-left-color: #f5f5f5bf;
}

.tooltip.bottom .tooltip-arrow {
	top: 0;
	left: 50%;
	margin-left: -5px;
	border-width: 0 5px 5px;
	border-bottom-color: #f5f5f5bf;
}

.tooltip.bottom-left .tooltip-arrow {
	top: 0;
	right: 5px;
	margin-top: -5px;
	border-width: 0 5px 5px;
	border-bottom-color: #f5f5f5bf;
}

.tooltip.bottom-right .tooltip-arrow {
	top: 0;
	left: 5px;
	margin-top: -5px;
	border-width: 0 5px 5px;
	border-bottom-color: #f5f5f5bf;
}

.centered {
	display: flex;
	justify-content: center;
}

.centered-text {
	text-align: center;
}

.tooltip-inner {
	max-width: 500px !important;
}

/* MagicMouseJS */
body #magicMouseCursor {
	position: fixed;
	width: 32px;
	height: 32px;
	border: 2px solid #dddddd80;
	background: #88888880;
	border-radius: 50%;
	z-index: 9999;
	left: 0;
	top: 0;
	transition: transform 0.07s, width 0.3s, height 0.3s;
	pointer-events: none;
}

body #magicMouseCursor.cursor-square {
	/* border-width: 1px;
	background: none; */
	border-color: #fafafa;
	border-radius: 4px;
	margin-left: -2px;
	margin-top: -2px;
}

body #magicPointer {
	display: none;
	height: 5px;
	width: 5px;
	top: 0;
	left: 0;
	position: fixed;
	background: #ffffff;
	border-radius: 50%;
	pointer-events: none;
	transition: transform 0.07s, width 0.3s, height 0.3s;
}

body #magicPointer.is-hover {
	background: red;
	display: none;
}

body #magicPointer.pointer-blur {
	height: 50px;
	width: 50px;
	background: none;
	border: 1px solid #ffffff;
	box-shadow: 0px 0px 15px -5px white;
}

body #magicPointer.pointer-overlay {
	height: 50px;
	width: 50px;
	mix-blend-mode: difference;
	box-shadow: 0px 0px 15px -5px white;
}

body .magic-hover {
	transition: all 0.2s;
}

body .magic-hover:hover {
	cursor: none;
}