body {
	background: rgba(0, 0, 0, .8) !important;
}

html, body {
	color: lightgreen;
	padding: 5px;
	line-height: 1.4;
	font-size: 14px;
	font-family: monospace !important;
}

.backlog a {
	color: skyblue;
}

form {
	display: flex;
}

ul {
	list-style-type: none;
	padding: 0;
	margin: 0;
}

ul li.response {
	color: white;
}

ul li#error {
	color: red;
}

input {
	font-family: monospace !important;
	background: none !important;
	border: none !important;
	box-shadow: none !important;
	color: lightgreen;
	caret-color: lightgreen !important;
	font-size: 14px !important;
	outline: none;
	width: -webkit-fill-available;
	width: fill-available;
	width: 100%;
	padding: 0 5px !important;
	margin: 0;
}

.shortlist {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(15%, 1fr));
}