html, body {
	line-height: 1.6;
	font-size: 15px;
}

.app-toolbar {
	position: sticky;
	top: 0;
	display: grid;
	grid-template-columns: 0fr 0fr 1fr;
	grid-gap: 10px;
}

input#path {
	width: -webkit-fill-available;
	width: 70vw;
}

table {
	width: 100%;
	border-collapse: collapse;
}

table thead th {
	padding: 3px 5px;
	border-right: 1px solid #dddddd;
}

table thead {
	position: sticky;
	top: 40px;
	background: white;
}

table tbody td {
	padding: 5px;
}

table tr td:first-child {
	display: flex;
	justify-content: center;
	align-items: center;
}

table thead th {
	font-weight: bold;
	text-align: left;
}

table tbody tr {
	border-bottom: 1px solid #dddddd;
}

table thead tr {
	border-bottom: 1px solid #dddddd;
}

table tbody tr:nth-child(odd) {
	background-color: #eeeeee;
}

.output .ui-selecting {
	background: rgb(98, 177, 251);
}

.output .ui-selected {
	background: rgb(16, 128, 233);
	color: white;
}